@import url(https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css);
@font-face {
    font-family: "huninn";
    src: url(./huninn.ttf);
}
body, *, code{
    background-color: transparent;
    font-family: "JetBrains Mono", "huninn";
}
.motto{
    background-color: transparent;
    display: block;
}
.after {
    float: right;
}